{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}


{% block content %}
<main>
  <section class="container mt-5 mb-3">
    {% if filter_form %}
    <div class="container pt-4">
      <form action="{% url 'search_result' %}" method="post">
        {% csrf_token %}

        <a class="" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Использовать фильтр</a>
        <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Фильтр</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">

            <div class="mb-2">
              <label for="{{ filter_form.company.id_for_label }}" class="form-label">компания</label>
              {{ filter_form.company }}
            </div>

            <div class="mb-2">
              <label for="{{ filter_form.category.id_for_label }}" class="form-label">категория</label>
              {{ filter_form.category }}
            </div>

            <label class="form-label">цена</label>
            <div class="input-group mb-2">
              <span class="input-group-text">от</span>
              {{ filter_form.price_gte }}
              <span class="input-group-text">до</span>
              {{ filter_form.price_lte }}
            </div>

            <label class="form-label">срок</label>
            <div class="input-group mb-2">
              <span class="input-group-text">от</span>
              {{ filter_form.expire_gte }}
              <span class="input-group-text">до</span>
              {{ filter_form.expire_lte }}
            </div>

            <label class="form-label">ставка</label>
            <div class="input-group mb-2">
              <span class="input-group-text">от</span>
              {{ filter_form.rate_gte }}
              <span class="input-group-text">до</span>
              {{ filter_form.rate_lte }}
            </div>

            <div class="mt-4">
              <button class="btn btn-success w-100" type="submit">Применить фильтр</button>
            </div>

          </div>
        </div>

      </form>
    </div>
    {% endif %}
  </section>

  <div class="container-xl">
    {% if object_list %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-3">

      {% for product_option in object_list %}
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ product_option.product.name|title }} ({{ product_option.product.category.name }})</h5>
            <h6 class="card-subtitle mb-2 text-muted">Ставка: {{ product_option.rate }} %</h6>
            <h6 class="card-subtitle mb-2 text-muted">Срок: {{ product_option.expire }} мес.</h6>
            <h6 class="card-subtitle mb-2 text-muted">Цена: {{ product_option.price }} руб.</h6>
            <p class="card-text">{{ product_option.product.description|truncatechars:90 }}</p>
            <a href="{% url 'product_option_detail' product_option.pk %}" class="card-link">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
      <h3 class="d-flex justify-content-center">Ничего не найдено</h3>
    {% endif %}
  </div>


<section class="container text-center">
</section>

</main>
{% endblock %}